body {
  background-color: black;
  font-family: Arial;
  font-size: 50px;
  color: white;
}

p {
  margin-top: 15px;
  margin-bottom: 10px;
}

.vert {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.horiz {
  display: flex;
  column-gap: 10px;
}

.grey-button,
.yellow-button {
  height: 60px;
  width: 60px;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 21px;
}

.grey-button {
  background-color: rgb(51,51,51);
}

.yellow-button {
  background-color: rgb(254, 160, 10);
}